*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

img
    {
        max-width: 100%;
        display: block;
    }

body
    {

    }

.container
    {
        width: 1170px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }

header
    {
        background-color: #F6F9F9;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

.logo
    {
        width: 20%;
        float: left;
    }

.logo img
    {
        padding-top: 5px;
        padding-bottom: 5px;
    }

nav 
    {
        width: 80%;
        float: left;
        padding-top: 5px;
        padding: 5px;
    }

nav ul
    {
        text-align: right ;
    }

nav ul li
    {
        list-style: none;
        display: inline-block;
        padding-left: 30px;
    }

nav ul li a
    {
        font-size: 16px;
        padding: 12px 0px;
        display: block;
        color: #2D3950;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.45s cubic-bezier(0.02, 0.46, 0.96, 1.42);
    }

nav ul li a:hover
    {
        border-bottom: 2px solid #15A4FA;
        transition: all 0.65s ease;
    }

.banner-section
    {
        background-image: url(../images/image01.jpeg);
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: 0px, 0px;
        position: relative;
    }

.banner-content
    {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

.banner-content h1
    {    
        font-size: 5em;
        text-align: center;
    }
          
.banner-content span
    {
        background-color: #15a4fa;
        width: 99%;
        height: 2px;
        display: block;
        margin: 5px 0;
    }

.banner-content p
    {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-size: 16px;
        line-height: 25px;
    }

.banner-content a
    {
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        border: 1px solid;
        padding: 10px 15px;
        display: inline-block;
        margin: 25px 0;
    }

.banner-content a:hover
    {
        cursor: pointer;
        color:#15A4FA;
        border: 1px solid #15A4FA;
        transition: all 0.65s ease;
    }

.overlay
    {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2d3950a1 !important;
    }

.banner-section .arrow
    {
        position: absolute;
        color: #ffffffa3;
        font-size: 24px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

.about-section
    {

    }

.about-section h2
    {
        padding-bottom: 42px;

    }

.about-section p
    {
        line-height: 26px;
    }

.heading-about span
    {
        color: #15a4fa;
    }

.heading-about
    {
        padding: 100px 0px;
        text-align: center;
        font-size: 20px;
    }

.heading h4
    {
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bolder;
        color: #fff;
        text-align: center;
        padding: 100px 0 50px;
    }

.heading p
    {
        color: #2d3950;
        font-size: 16px;
        width: 62%;
        display: inline-block;
        padding: 24px 0px;
        line-height: 25px;
    }

.feature-section
    {
        text-align: center;
        border-bottom: 1px solid #F6F9F9;
    }

.three
    {
        width: 33.33%;
        float: left;
        text-align: center;
        padding: 50px 0;
        margin: 100px 0px;
    }
.three:hover
    {
        box-shadow: 3px 5px 15px #2d395021;
        /* padding: 50px 0; */
        transition: all 0.75s ease;
    }

.three img
    {
        margin: 0 auto;
    }

.three h3
    {
        padding: 40px 0 25px 0;
        font-size: 20px;
    }

.three p
    {
        font-size: 16px;
        line-height: 25px;
    }

.gallary-section
    {
        padding-bottom: 100px;
    }
.gallary-heading
    {
        text-align: center;
        font-size: 35px;
    }

.gallary-heading h2
    {
        padding: 100px 0px 25px 0;
        text-align: center;
        font-size: 26px;
    }

.gallary-heading p
    {
        font-size: 16px;
        padding-bottom: 30px;

    }

.image-section
    {
    }

.gallary
    {
        float: left;
    }

.gallary img
    {
        width: 356px;
        padding: 10px;
    }

.gallary img:hover
    {
        box-shadow: 3px 5px 15px #2d395021;
        transition: all 0.75s ease;
    }

.contact-section
    {
        background-image: url(../images/image2.jpeg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
    }

.contact-section
    {

    }

.overlay-footer
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2d395075;
    }

form
    {
        width: 50%;
        margin: 0 auto;
    }

form input
    {
        display: block;
        width: 100%;
        border: 1px solid #fff;
        padding: 10px 10px;
        margin-bottom: 10px;
        background-color: transparent;
        color: #fff;
    }

form textarea
    {
        display: block;
        width: 100%;
        padding: 10px 10px;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff; 
    }

form ul
    {

    }

form ul li 
    {
        overflow: hidden;
        width: 100%;
        list-style: none;
        padding-top: 10px;
    }

form ul .ABCD
    {
        overflow: hidden;
    }

form ul li input
    {
        list-style: none;
        width: initial;
        display: inline;
        float: left;
    }

form input ::-webkit-input-placeholder 
    {
      color: #fff;
    }

form ul li a
    {
        float: left;
        width: 100%;
        border: 1px solid #fff;
        padding: 10px 167px;
        list-style: none;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: initial;
        text-decoration-color: initial;
        color: #fff;
        text-align: center;
    }

form ul li a:hover
    {
        color: #15A4FA;
        border: 1.5px solid #15A4FA;
        transition: all 0.65s ease;
    }

.heading span
    {
        color: #15a4fa;
    }

footer
    {
        text-align: center;
        height: 65px;
        background: #f6f9f9;
    }

.footer-contain
    {
        padding-top: 15px;
        width: 1170px;
        margin: 0 auto;
    }

.copyright
    {
        font-size: 12px;
        padding-top: 12px;
        float: left;
    }

.social
    {
        float: right;
    }

.social ul 
    {
        padding: 5px 0 0;
        color: #fff;
    }

.social ul li
    {
        list-style: none;
        display: inline-block;
        padding: 6px;
        border-radius: 67%;
        background-color: #15a4fa;
        width: 30px;
        height: 30px;
        line-height: 20px;     
    }

.social ul li a
    {
        color: #fff;
    }

.social ul li:hover
    {
        cursor: pointer;
        background-color:#2D3950 ;
        box-shadow: 1px 2px 3px #2D3950;
        transition: all 0.65s ease;
    }

/*css styling section ends*/
